/* inter font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* miama font family */
@font-face {
    font-family: miama;
    src: url("../fonts/Miama.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-100: #222222;
    --base-200: #000000;
    --base-content: #ffffff;
    --base-content-secondary: #ffffff80;
    --primary: #e6533c;
    --primary-content: #ffffff;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--base-200);
    min-height: 100svh;
}

/* shared styles */
.title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--base-content);
}

.description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--base-content-secondary);
    letter-spacing: .5px;
    line-height: 1.625;
    letter-spacing: 0.5px;
}

.primary-btn,
.secondary-btn {
    width: 224px;
    height: 54px;
    border-radius: 50px;
    font-size: 1.12rem;
    font-weight: 600;
    cursor: pointer;
}

.primary-btn {
    border: 2px solid var(--primary);
    color: var(--primary-content);
    background-color: var(--primary);
}

.secondary-btn {
    border: 2px solid var(--base-content);
    background-color: transparent;
    color: var(--base-content);
}

/* header default styles */
header {
    width: 100%;
    height: auto;
    padding: 0 2rem;
    background: linear-gradient(to bottom, #111111, rgba(119, 119, 119, 0.4));
    box-shadow: inset 0 -150px 200px #000000;
}

.navbar-icon {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 68.25rem;
    margin: 0 auto;
    padding: 3rem 0 0;
}

.brand-name {
    color: var(--primary);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.navbar-pages {
    display: flex;
    align-items: center;
    gap: 2.93rem;
    list-style: none;
    border: 1px solid var(--base-100);
    border-radius: 50px;
    padding: 4px 20px 4px 4px;
}

.navbar-page-link {
    text-decoration: none;
    color: var(--base-content);
}

.navbar-page-link.home {
    display: inline-block;
    background-color: var(--primary);
    padding: .5rem 1.25rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

/* navbar mobile screen styles */
@media screen and (max-width: 576px) {
    header {
        padding: 0 1.25rem;
    }

    .navbar-icon {
        display: block;
        color: var(--base-content);
        font-size: 1.25rem;
    }

    .navbar-pages {
        display: none;
    }
}

/* banner default styles */
.banner {
    max-width: 68.25rem;
    margin: 96px auto 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner content default styles */
.banner-content {
    max-width: 520px;
}

.tagline {
    color: var(--base-content);
    font-size: 4.875rem;
    font-weight: 900;
    line-height: .9;
    ;
}

.shape-text {
    font-family: miama;
    font-weight: 400;
    font-size: 10rem;
}

.banner-content .description {
    margin: 28px 0;
}

.banner-btn-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* banner image container default styles */
.banner-img-container {
    position: relative;
}

.banner-img {
    width: 100%;
}

.banner-img-card {
    padding: 1rem 1.5rem;
    background-color: rgba(48, 48, 48, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .75rem;
    position: absolute;
}

.videos-card {
    top: 7rem;
    right: -4rem;
}

.videos-card h5 {
    font-size: 3.12rem;
    font-weight: 900;
    color: var(--base-content);
}

.videos-card p,
.tutorial-card p {
    font-size: .8125rem;
    font-weight: 400;
    color: var(--base-content-secondary);
}

.tutorial-card p {
    margin: 5px 0 0;
}

.tutorial-card {
    display: flex;
    align-items: center;
    gap: 16px;

    bottom: 4.5rem;
    left: -5rem;
}

.tutorial-circle {
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
}

.tutorial-circle span {
    display: none;
}

.tutorial-card h5 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--base-content);
}

/* banner mobile screen styles */
@media screen and (max-width: 576px) {
    .banner {
        margin: 50px auto 0;
        flex-direction: column;
    }

    .tagline {
        max-width: 285px;
        font-size: 2.5rem;
    }

    .shape-text {
        font-size: 5rem;
    }

    .banner-content .description {
        max-width: 274px;
    }

    .banner-btn-container {
        flex-wrap: wrap;
    }

    .primary-btn,
    .secondary-btn {
        max-width: 179px;
        height: auto;
        padding: 1rem;
    }

    .banner-img-container {
        margin: 2.5rem 0 0;
    }

    .videos-card h5 {
        font-size: 1.875rem;
    }

    .tutorial-card h5 {
        font-size: 1.125rem;
    }

    .videos-card,
    .tutorial-card {
        padding: .9375rem 1.125rem;
    }

    .videos-card P,
    .tutorial-card P {
        font-size: .625rem;
    }

    .videos-card {
        top: 3rem;
        right: 1rem;
    }

    .tutorial-card {
        left: 0;
        bottom: 15rem;
    }

    .tutorial-circle {
        display: grid;
        place-items: center;
    }

    .tutorial-circle span {
        display: block;
        color: var(--primary-content);
    }
}

/* banner tablet screen styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
        margin: 79px auto 0;
    }

    .banner-content {
        max-width: 599px;
    }

    .banner-img-container {
        margin: 100px 0 0;
    }

    .videos-card {
        top: 3rem;
        right: -2rem;
    }

    .tutorial-card {
        bottom: 9.5rem;
        left: -2rem;
    }

}

/* change your habits default styles */
.habits {
    max-width: 68.25rem;
    margin: 100px auto 0;
}

.habits-content {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}

.habits-content .description {
    margin: 14px 0 0;
}

.habits-card-container {
    display: flex;
    gap: 40px;
    margin: 54px 0 0; 
}

.habit-card {
    padding: .875rem;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.habit-card:hover {
    background-color: rgba(48, 48, 48, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .625rem;
}

.habit-card img {
    width: 70%;
    border: 2px solid var(--base-content-secondary);
    border-radius: 50%;
}

.habit-card-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--base-content);
    margin: 30px 0 0;
}

.habit-card .description {
    font-size: .875rem;
    margin: 6px 0 0;
}
